---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/BlogPost.astro'
const allPosts = await Astro.glob('../pages/posts/*.md')
const pageTitle = 'my astro learning blog'
---
<BaseLayout pageTitle={pageTitle}>
    <p>nothing to know! if you want to be a simplely person!</p>
    <ul>
        { allPosts.map(post => <BlogPost url={post.url} title={post.frontmatter.title} />) }
    </ul>
</BaseLayout>
