---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
const date = new Date().getTime()
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <p>
	update on: {date}
  </p>
</BaseLayout>